/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.accordion-item{
  box-shadow: 15px 9px 9px -2px rgba(230,224,224,0.86);
-webkit-box-shadow: 15px 9px 9px -2px rgba(230,224,224,0.86);
-moz-box-shadow: 15px 9px 9px -2px rgba(230,224,224,0.86);
cursor: pointer;
}

.accordion-item:hover{
  border-left: 6px solid orange;
  transition-duration: 1s;
}
.accordion-open{
  border-left: 6px solid red;
  transition-duration: 1s;
}

.accordion-title{
  display: flex;
  justify-content: space-between;
}

.text-center{
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 5rem;
}